{% extends 'base.html' %}
    {% block title %}
        {{ dict.name }}
    {% endblock %}
{% block content %}
<div class="intro">
    <div class="container">
        <div class="intro_inner">
            <h2 class="intro_title">Happy Hope</h2>
        </div>
        <div class="intro_table">
            <table class="sub_table" border="1px">
                <tr>
                    <th></th>
                    <th>past simple</th>
                    <th>present simple</th>
                    <th>future simple</th>
                </tr>
                <tr>
                    <th>Вообще просто <br> происходит</th>
                    <th>was/were</th>
                    <th>am/is/are</th>
                    <th>will be</th>
                </tr>
                <tr>
                    <th>Есть результат</th>
                    <th>был до тогда</th>
                    <th>have/has been</th>
                    <th>побуду до тогда</th>
                </tr>

            </table>
        </div>
    </div>

    <div class="container block">

        <div class="block_left">
            <form action="{% url 'add_phrase' dict.id %}" method="POST">
                {% csrf_token %}
                <input type="text" size="40" autofocus required placeholder="Eng words" name="engphrase">
                <div class="exemple">
                    <div class="left_inner">
                        <select list>
                            <option list>Phrase</option>
                        </select>
                    </div>
                    <div class="center">
                        <p><input type="checkbox">Золотой слиток</p>
                    </div>
                </div>
                <input type="text" size="40" autofocus required placeholder="Translate" name="translate">
                <p><input type="submit" value="add"></p>
            </form>
        </div>

        <div class="block_right">

            <div class="block_text">
                {% for phr in dict.phrase_set.all %}
                    <h5>{{ phr.engphrase }}</h5>
                    <p title="{{ phr.translate }}" align="right">translate</p>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock content %}